---
import Grid from "@/components/grid.astro";
import Layout from "@/layouts/layout.astro";

import EarthImage from "@/Images/elena-mozhvilo-eA32JIBsSu8-unsplash.jpg";

const demos = [
    {
        title: "Simple links",
        href: "/donations/prefill-link",
        description: "A simple link that prefills an Impact Stack form",
        image: EarthImage.src,
    },
    {
        title: "Tabs with prefill links",
        href: "/donations/tabs-prefill-links",
        description: "Change the links that are shown using tabs",
        image: EarthImage.src,
    },
];
---

<Layout title="Donation demos: Earth Charity">
    <section>
        <h2>Donation demos</h2>
        <Grid items={demos} />
    </section>
</Layout>
