---
import Grid from "@/Components/grid.astro";
import Layout from "@/Layouts/layout.astro";

import EarthImage from "@/Images/elena-mozhvilo-eA32JIBsSu8-unsplash.jpg";

const demos = [
    {
        title: "Campaign demos",
        href: "/campaign-demos",
        description: "Some demos of campaign pages",
        image: EarthImage.src,
    },
    {
        title: "Donation demos",
        href: "/donation-demos",
        description: "Some demos of donation pages",
        image: EarthImage.src,
    },
    {
        title: "Donate",
        href: "https://demo2.impact-stack.org/donation-2",
        description:
            "Just a simple direct link to an Impact Stack donation page with no fancy stuff at all",
        image: EarthImage.src,
    },
    {
        title: "Donate",
        href: "https://demo2.impact-stack.org/donation-2",
        description:
            "Just a simple direct link to an Impact Stack donation page with no fancy stuff at all",
        image: EarthImage.src,
    },
];
---

<Layout title="Donation demos: Earth Charity">
    <section>
        <h2>Donation demos</h2>
        <Grid items={demos} />
    </section>
</Layout>

<style>
    section {
        margin-top: 4rem;
    }
</style>
