---
import Grid from "@/components/grid.astro";
import Layout from "@/layouts/layout.astro";

import EarthImage from "@/Images/elena-mozhvilo-eA32JIBsSu8-unsplash.jpg";

const demos = [
    {
        title: "Simple links",
        href: "/donations/prefill-link",
        description: "A simple link that prefills an Impact Stack form",
        image: EarthImage,
    },
    {
        title: "Tabs with prefill links",
        href: "/donations/tabs-prefill-links",
        description:
            "Multiple links that prefill an Impact Stack form. The links are in groups. The displayed group changes.",
        image: EarthImage,
    },
    {
        title: "Donation form with free text input",
        href: "/donations/form-free-input",
        description:
            "A form to go on your main website that opens an Impact Stack form. The donation amount field is a free text box",
        image: EarthImage,
    },
    {
        title: "Donation form with donation amount buttons",
        href: "/donations/form-buttons",
        description:
            "A form to go on your main website that opens an Impact Stack form. The donation amount is set by some buttons",
        image: EarthImage,
    },
];
---

<Layout title="Donation demos: Earth Charity">
    <section>
        <h2>Donation demos</h2>
        <Grid items={demos} />
    </section>
</Layout>
