---
import Hero from "@/Components/Hero.astro";
import Layout from "@/Layouts/Layout.astro";
---

<Layout title="Home: Earth Charity">
    <Hero />
    <section>
        <p>
            Earth Charity is a made-up organisation used to demonstrate <a
                href="https://impact-stack.org">Impact Stack</a
            >.
        </p>

        <p>
            This is a super basic demo site that gives examples of how you might
            start a supporter's interaction with an Impact Stack form on your
            main website.
        </p>

        <section>
            <p>
                <a href="/campaigns" class="button small">See campaign demos</a>
            </p>
            <p>
                <a href="/donations" class="button small">See donation demos</a>
            </p>
        </section>
    </section>
</Layout>

<style>
    section {
        margin-top: 4rem;
    }

    h2 a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
</style>
