---
type NavItem = {
    text: string;
    href: string;
    tooltip?: string;
    class?: string;
};
const navItems: NavItem[] = [
    {
        text: "Campaign demos",
        href: "/campaigns",
        tooltip: "Some demos of campaign pages",
    },
    {
        text: "Donation demos",
        href: "/donations",
        tooltip: "Some demos of donation pages",
    },
];
---

<nav class="nav-container">
    <button class="menu-button button m-0" aria-label="Open menu">Menu</button>

    <div class="nav-links">
        {
            navItems.map(({ text, href, tooltip, class: className }) => (
                <a href={href} title={tooltip} class={className}>
                    {text}
                </a>
            ))
        }
    </div>
</nav>
<script>
    document.querySelector(".menu-button")?.addEventListener("click", () => {
        const navLinks = document.querySelector(".nav-links");
        if (navLinks) {
            navLinks.classList.toggle("active");
        }

        const navContainer = document.querySelector(".nav-container");
        if (navContainer) {
            navContainer.classList.toggle("drawer-active");
        }

        const menuButton = document.querySelector(
            "button.menu-button",
        ) as HTMLButtonElement;

        if (menuButton && navLinks) {
            if (navLinks.classList.contains("active")) {
                menuButton.setAttribute("aria-label", "Close menu");
                menuButton.innerText = "Close";
            } else {
                menuButton.setAttribute("aria-label", "Open menu");
                menuButton.innerText = "Menu";
            }
        }


    });
</script>
<style>
    .nav-container {
        position: relative;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .nav-links a:not(.button) {
        color: #191919;
        text-decoration: none;
        font-weight: 700;
    }

    .nav-links a:not(.button):hover {
        text-decoration: underline;
    }

    .menu-button {
        display: none;
        cursor: pointer;
    }

    @media (max-width: 640px) {
        .nav-container {
            padding: 1rem;
        }

        .menu-button {
            display: block;
            position: relative;
            z-index: 20;
        }

        .nav-links {
            position: fixed;
            top: 0;
            right: -66.666%; /* Start off-screen */
            width: 66.666%; /* Two-thirds of the screen */
            height: 100vh;
            background-color: white;
            padding: 4rem 2rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            transition: right 0.3s ease-in-out;
            z-index: 10;
            box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
        }

        .nav-container.drawer-active .nav-links {
            right: 0; /* Slide in */
        }

        .nav-links.active {
            display: flex;
        }
    }
</style>
