---
import Layout from "@/layouts/layout.astro";
import CardGrid from "@/components/cardGrid.astro";

import ProgressImage from "@/Images/hayley-murray-6Lf1kzL4AfY-unsplash.jpg";
import ClipboardsImage from "@/Images/frames-for-your-heart-rPRpBWXn2C4-unsplash.jpg";

const demos = [
    {
        title: "Progress bar with link",
        href: "/campaigns/progress-bar",
        description:
            "A live-updated progress bar with a link to an Impact Stack form",
        image: ProgressImage,
    },
    {
        title: "Petition or lead-gen form",
        href: "/campaigns/form",
        description:
            "A form to go on your main website that a supporter could start completing and then carry on on an Impact Stack form",
        image: ClipboardsImage,
    },
];
---

<Layout title="Campaign demos: Earth Charity">
    <section>
        <h2>Campaign and lead-gen demos</h2>
        <CardGrid items={demos} />
    </section>
</Layout>
