---
import Layout from "@/layouts/layout.astro";
import Grid from "@/components/grid.astro";

import EarthImage from "@/Images/elena-mozhvilo-eA32JIBsSu8-unsplash.jpg";

const demos = [
    {
        title: "Progress bar with link",
        href: "/campaigns/progress-bar",
        description: "A progress bar with a link",
        image: EarthImage,
    },
    {
        title: "Petition form",
        href: "/campaigns/form",
        description:
            "A form to start a petition or email signup from your main website",
        image: EarthImage,
    },
];
---

<Layout title="Campaign demos: Earth Charity">
    <section>
        <h2>Campaign demos</h2>
        <Grid items={demos} />
    </section>
</Layout>
